@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,500&display=swap');

.App{
  height: 97vh;
  background-color:var(--primary);
  display: flex;
  /* background-color:var(--back); */
}