.messages{
    display: flex;
    width:fit-content;
    padding: 8px;
    border-radius: 12px;
    align-items:center;
    justify-content: center;
    background-color: var(--secondary);
    flex-wrap:wrap;
}
.messagesbyyou{
    display: flex;
    width:fit-content;
    padding: 8px;
    border-radius: 12px;
    align-items:center;
    margin-left: 10px;
    flex-wrap:wrap;   
}